*{
  margin: 0;
    font-family: "SF Pro text", "SF Pro icons", "Arial", "Helvetica", "sans-serif", "helvetica neue";
}


    
a   {
    text-decoration: none;
}

nav {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    padding: 12px 0 12px 0;
    height: 44px;;

}

nav ul {
    list-style: none;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    max-width: 980px;
    

    
}

nav ul a{
    display: flex;
    color:white;
    list-style: none;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    margin: 0 25px 0 25px;
    font-size: 13px;
    opacity: 0.8;
    transition: 0.3s;
   

}

.box1 {
text-align: center;
background-color: white;
padding-top: 63px;
height: 580px;
background-image: url(https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_large_2x.jpg);
background-size: cover;
background-position: center;
}
.texto1{
    font-size: 56px;
    letter-spacing: inherit;
    margin-bottom: 0px;
    
}

.h3{
font-size: 28px;
margin-top: 10px;
margin-bottom: 0px;

}

.link {
    color: #0066cc;
    margin: 0px 20px;
    font-size: 21px;
    margin-top: 10px;
}

.box2 {
    text-align: center;
    background-color: #35283c;
    padding-top: 47px;
    height: 580px;
    background-image: url(https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_large.jpg);
background-size: cover;
background-position: center;
    
    }
 .texto2{
    font-size: 50px;
    letter-spacing: inherit;
    margin-bottom: 0px;
    color:white;
        
    }
    
.texto5{
    font-size: 1.7rem;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #fec2eb;
    
    }    

.box3 {
    text-align: center;
    background-color: #35283c;
    padding-top: 15px;
    height: 580px;
    background-image: url(https://www.apple.com/es/home/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_large.jpg);
    background-size: cover;
    background-position: center;
        
        }

.texto3 {
    color: #602d62;
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 500;
    letter-spacing: .01em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 23px;
    }

 .texto4 {
    color: #602d62;   
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }    
    
.multipleboxes {
    display: flex;
    flex-wrap: wrap;
    }
   
.minibox { 
    height: 624px;
    padding-top: 30px;
    background-color: rgb(31, 75, 137);
    flex-grow: 1;
    margin: 15px;
    min-width: 350px; 
    text-align: center;     

   }

.boxwatch {
    background-image: url(https://www.apple.com/v/home/aj/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_large_2x.jpg);
    background-size: cover;
        background-position: center;
 }  
 .boxshot {
    background-image: url(https://www.apple.com/v/home/aj/images/promos/shot-on-iphone/tile_soip__f0c6lef982em_large.jpg);
    background-size: cover;
        background-position: center;
 }  

 .watchs7 {
    background-image: url(https://www.apple.com/es/home/images/promos/watch-heart-month/promo_watch_heart__dlf8uc5h0kae_large.jpg);
    background-size: cover;
        background-position: center;

 }  
 .correab{
    color: #f0f3f5;
    background-image: url(https://www.apple.com/v/home/aj/images/promos/watch-black-unity/promo_watch__fo7j0tnywi2q_large.jpg);
    background-size: cover;
        background-position: center;
 }           

    


